<html>
    <head>
        {{> header}}
    </head>
    <body>
        <div class="container">
            <header>
                <h1>
                    {{title}}
                </h1>
                <nav>
                    Available models: |
                    {{#each models}}
                        <a href="{{this.id}}.html">{{this.name}}</a> |
                    {{/each}}
                    <span class="pull-right">
                        <a href="index.html">
                            Home Page
                        </a>
                    </span>
                </nav>
            </header>
            <hr>
            {{> thumbnails}}
        </div>
    </body>
</html>