<html>
    <head>
        {{> header}}
    </head>
    <body>
        <div class="container">
            <header>
                <h1>
                    {{title}}
                </h1>
                <nav>
                    <a href="{{maker_id}}.html">
                        Back to {{maker_name}}
                    </a>
                    <span class="pull-right">
                        <a href="index.html">
                            Home Page
                        </a>
                    </span>
                </nav>
            </header>
            <hr>
            {{> thumbnails}}
        </div>
    </body>
</html>